:root{
    --primary: #3d5588;
    --secondary: #9DC3B3;
    --accent1: #F0C384;
    --accent2: #C86F93;
    --light: #fcfaf8;
    --shade: #b0b6c7;
}
body {
    background-color: var(--light);
    background: linear-gradient(to bottom right, var(--light), var(--accent1));
    background-attachment: fixed;
    color: var(--primary);
    display: flex;
    justify-content: center;
    font-family: Georgia;
}

main {
    background: var(--light);
    width: 75vw;
    display: inline-block;
    margin: 20px;
    padding: 50px;
    border-radius: 10px;
    box-shadow: -15px 15px 5px -5px var(--shade);
}



/* "container" */
.measurement {
    color: var(--primary);
    font-weight: bold;
    position: relative;
    border-bottom: 1px dotted black;
    display: inline-block;
}
.measurement:hover{
    cursor: pointer;
}
/*hover text*/
.measurement .measurementType{
    visibility: hidden;
    width: 120px;
    background-color: var(--secondary);
    color: var(--primary);
    text-align: center;
    padding: 5px 10px;
    border-radius: 6px;
/* position type text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left 50%;
    margin-left: -60px;
/* fade in type text  */
    opacity: 0;
    transition: opacity 0.3s;
}
/* box arrow  */
.measurement .measurementType::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--secondary) transparent transparent transparent;
}
/* show type text on hover */
.measurement:hover .measurementType{
    visibility: visible;
    opacity: 1;
}


abbr:hover {
    cursor: pointer;
    color: var(--secondary);
}